

body {
  min-width: 960px;
}

body {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;

  background: #000000 url(../img/bg-main.jpg) no-repeat center top;
}

h2 {
  margin-bottom: 33px;
  margin-top: 0;
  font-size: 24px;
  line-height: 30px;
}

p > a {
  color: inherit;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 60px;

  color: #ffffff;

  background-color: #000000;
}

.header-logo {
  float: left;

  width: 150px;
}

.header-logo a {
  display: block;
  padding-top: 23px;
  padding-bottom: 16px;
  padding-left: 20px;
}

.header-logo a:hover {
  background-color: #242424;
}

.main-navigation {
  width: 630px;
  float: left;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;

  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background-color: #242424;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  font-size: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}

.user-block {
  float: right;
  min-width: 140px;
}

.login {
  position: relative;

  display: inline-block;
  padding: 25px 20px;
  padding-left: 52px;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;

  width: 18px;
  height: 16px;

  background: transparent url(../img/sprite.png) no-repeat;
  background-position: -5px -27px;;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.login:hover {
  background-color: #242424;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
  font-size: 0;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  vertical-align: top;
  font-size: 14px;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs .active {
  color: #aba9a7;
}

.breadcrumbs li:nth-child(n+2)::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -24px;

  display: block;
  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;

  text-align: center;
}

.features-name {
  position: relative;

  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;

  font-size: 30px;
  line-height: 42px;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;

  background-color: #ffffff;
  transform: rotate(45deg);
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-item:last-child {
  margin-right: 0;
}
.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;

  color: #000000;

  background:
    url(../img/index-content-shadow.png) no-repeat center,
    #f8f5f2 url(../img/bg-main-pattern.jpg);
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 25px;

  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #ffffff;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.gallery {
  position: relative;

  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;

  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;

  font: inherit;
  color: inherit;
  text-transform: inherit;


  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}


/* FOOTER */
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;

  color: #ffffff;
  background: #252525 url(../img/black-pattern.png);
}

.not-main .main-footer {
  box-shadow: inset 0 10px 50px 0 black;
}

.footer-contact {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contact a {
  color: #ffffff;
}

.footer-contact a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;

  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  background: #000000 url(../img/sprite.png) no-repeat center;

  transition:
  background-position 0.5s,
  background-color 0.5s;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  background-position: 2px -165px;
}

.social-btn-fb {
  background-position: 10px -44px;
}

.social-btn-inst {
  background-position: 6px -107px;
}

.social-btn-vk:hover {
  background-position: 2px -190px;
}

.social-btn-fb:hover {
  background-position: 10px -76px;
}

.social-btn-inst:hover {
  background-position: 6px -138px;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;

  background-color: #ffffff;

  transition:
  background-position 1s,
  background-color 1s;
}

/* CATALOG-ITEM */

.not-main {
  margin: 0;
  background: #f8f5f2 url(../img/bg-main-pattern.jpg);
  color: #000000;
}

.items-gallery {
  float: left;
  width: 500px;
}

.description {
  float: right;
  width: 400px;
}

.items-gallery img {
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px 0px rgba(00, 01, 01, 0.2);
}

.small-pictures img {
  margin-right: 17px;
}

.product-available {
  float: left;
  width: 100px;

  margin-bottom: 33px;
}

.product-id {
  float: right;
  width: 150px;

  color: #aeaeae;
}

.product-text {
  clear: both;
  width: 390px;

  margin-bottom: 39px;
}

.price {
  display: inline-block;
  margin-bottom: 66px;
  padding-top: 11px;
  padding-bottom: 12px;
  width: 109px;
  height: 21px;

  text-align: center;
  vertical-align: top;
  background-color: #e5e5e5;
}

.description .btn {
  box-sizing: border-box;
  padding-left: 19px;
  padding-right: 17px;
  width: 78px;
}

.package li {
  position: relative;
  margin-bottom: 3px;
  padding-left: 20px;
  list-style: none;
}

.package li::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 0px;

  display: block;
  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

/* PRICE-LIST */
.best-tools {
  float: left;
  margin-bottom: 47px;
  width: 400px;
}

.price-list {
  float: right;
  width: 460px;
}

.main-title {
  position: relative;
  display: block;

  padding-bottom: 49px;

  text-align: center;
  font-size: 48px;
  line-height: 48px;
}

.main-title::before {
  content: "";

  position: relative;
  left: 2px;
  top: 24px;

  display: block;
  width: 160px;
  height: 2px;

  background-color: #000000;
}

.main-title::after {
  content: "";

  position: relative;
  right: -780px;
  top: -26px;

  display: block;
  width: 160px;
  height: 2px;

  background-color: #000000;
}

.tools-title {
  width: 240px
}

.price-title {
  width: 200px;
}

.package,
.tools-list {
  margin: 0;
  padding: 0;
}

.tools-list li {
  position: relative;
  margin-bottom: 17px;
  padding-left: 20px;
  list-style: none;
}

.tools-list li::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 0px;

  display: block;
  width: 8px;
  height: 8px;

  background-color: #000000;
  transform: rotate(45deg);
}

.price-list table {
  width: 460px;
  border-collapse: collapse;
}

.price-list td {
  padding: 8px 17px;
  border: 2px solid #000000;
}

.td-price {
  width: 50%;
  vertical-align: middle;
  text-align: center;
}

.about p {
  margin-top: 0;
  display: inline-block;
  vertical-align: top;
}

.about p:first-of-type {
  width: 390px;
  padding-right: 88px;
}

.about p:last-of-type {
  width: 370px;
}

/* CATALOG */
.main-filter {
  float: left;
  width: 200px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;

  display: block;
  margin-bottom: 23px;
  padding-left: 45px;

  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  background-color: #f9f6f3;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  display: block;
  width: 12px;
  height: 12px;

  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -5px -5px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;

  display: block;
  margin-bottom: 23px;
  padding-left: 45px;

  line-height: 20px;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #f9f6f3;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;

  display: block;
  width: 10px;
  height: 10px;

  background-color: #000000;
  border-radius: 50%;
}

.catalog-item .btn {
  box-sizing: border-box;
  padding-left: 19px;
  padding-right: 17px;
  width: 78px;
}

.catalog-items {
  float: right;
  width: 700px;
}

.catalog-item {
  float: left;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(00, 01, 01, 0.2);
}

.catalog-item a:first-child {
  color: inherit;
  text-decoration: none;
}

.catalog-item p {
  margin-left: 16px;
  font-size: 14px;
  line-height: 18px;
}

.catalog-item p:first-of-type {
  margin-top: 10px;
  margin-bottom: 0px;

  text-transform: none;
}

.catalog-item p:last-of-type {
  margin-top: 0px;
  margin-bottom: 13px;
}

.catalog-item .price {
  margin-left: 16px;
  margin-bottom: 16px;
}

.catalog-item .btn {
  margin-right: 0;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pages-number ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.pages-number li{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.page-btn {
  box-sizing: border-box;
  margin-right: 7px;
  padding-left: 18px;
  padding-right: 22px;
  padding-top: 9px;
  padding-bottom: 11px;
  width: 43px;
  height: 43px;
}

.current {
  background-color: #ffffff;
  color: #000000;
}
