

body {
  min-width: 960px;
}

body {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;

  background: #000000 url(../img/bg-main.jpg) no-repeat center top;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 60px;

  color: #ffffff;

  background-color: #000000;
}

.header-logo {
  float: left;
  width: 150px;
}

.main-navigation {
  width: 630px;
  float: left;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;

  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background-color: #242424;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  font-size: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}

.user-block {
  float: right;
  min-width: 140px;
}

.login {
  position: relative;

  display: inline-block;
  padding: 25px 20px;
  padding-left: 52px;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;

  width: 18px;
  height: 16px;

  background: transparent url(../img/sprite.png) no-repeat;
  background-position: -5px -27px;;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.login:hover {
  background-color: #242424;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.breadcrumbs ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;

  text-align: center;
}

.features-name {
  position: relative;

  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;

  font-size: 30px;
  line-height: 42px;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;

  background-color: #ffffff;
  transform: rotate(45deg);
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-item:last-child {
  margin-right: 0;
}
.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;

  color: #000000;

  background:
    url(../img/index-content-shadow.png) no-repeat center,
    #f8f5f2 url(../img/bg-main-pattern.jpg);
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 25px;

  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #ffffff;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.gallery {
  position: relative;

  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;

  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;

  font: inherit;
  color: inherit;
  text-transform: inherit;


  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}


/* FOOTER */
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;

  color: #ffffff;
  background: #252525 url(../img/black-pattern.png);
}

.footer-contact {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contact a {
  color: #ffffff;
}

.footer-contact a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;

  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  background: #000000 url(../img/sprite.png) no-repeat center;

  transition:
  background-position 0.5s,
  background-color 0.5s;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  background-position: 2px -165px;
}

.social-btn-fb {
  background-position: 10px -44px;
}

.social-btn-inst {
  background-position: 6px -107px;
}

.social-btn-vk:hover {
  background-position: 2px -190px;
}

.social-btn-fb:hover {
  background-position: 10px -76px;
}

.social-btn-inst:hover {
  background-position: 6px -138px;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;

  background-color: #ffffff;

  transition:
  background-position 1s,
  background-color 1s;
}

/* CATALOG-ITEM */
.items-gallery {
  float: left;
  width: 500px;
}

.description {
  float: right;
  width: 400px;
}

/* PRICE-LIST */
.best-tools {
  float: left;
  width: 400px;
}

.price-list {
  float: right;
  width: 460px;
}

/* CATALOG */
.main-filter {
  float: left;
  width: 200px;
}

.catalog-items {
  float: right;
  width: 700px;
}

.catalog-item {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pages-number ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.pages-number li{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

/* CATALOG ITEM */
.product-available {
  float: left;
  width: 100px;
}

.product-id {
  float: right;
  width: 150px;
}

.product-text {
  clear: both;
}
